@media (max-width: 750px) {
  .container .content:has(.block) {
    flex-flow: column;
    justify-content: flex-start;
  }
  .container .content .block:has(.info) {
    border-right: unset;
  }
  .container .content .block:has(.image) {
    max-width: unset;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
  .container .content .header {
    border-bottom: 0;
    border-spacing: 1px;
    background-color: #fff;
  }
  html[theme='dark'] .container .content .header {
    background-color: #1e1e1e;
  }
  .container .content .header select {
    height: 48px;
    min-width: 90px;
    background: #f1a727;
    width: 100% !important;
  }
  html[theme='dark'] .container .content .header select {
    color: #333;
  }
  .container .content .header .title {
    display: none;
  }
  .container .content .header .count {
    text-indent: 0;
    padding: 0 5px;
    text-align: left;
    box-sizing: border-box;
  }
  .container .content .header .count span {
    padding: 5px 0;
  }
  .container .content .block .info,
  .container .content .block .image {
    border: 0;
    padding: 0;
    width: 100%;
  }
  .container .content .block .info {
    border-spacing: 15px 10px;
  }
  .container .content .block .image {
    height: 150px;
    margin: 0 auto;
    max-width: unset;
  }
  .container .content .block .image img {
    max-width: 130px;
  }
}

@media (max-width: 650px) {
  .container .content .footer .dummy {
    max-width: 90px;
  }
}

@media (max-width: 550px) {
  .container .content .block .image {
    margin: 0 auto;
  }
  .container .content .block .image {
    height: 128px;
  }
  .container .content .block .image img {
    max-width: 110px;
  }
}

@media (max-width: 450px) {
  .container {
    height: calc(100% - 50px);
  }
  .container .content:has(.footer) {
    height: 48px;
  }
  .container .content .header {
    table-layout: fixed;
  }
  .container .content .block .info tr td[type="name"] {
    width: 88px;
    max-width: 88px;
    min-width: 88px;
  }
  .container .content .footer {
    padding: 0;
    width: 100%;
    height: 48px;
    border-top: 0;
    table-layout: fixed;
    border-spacing: 1px;
  }
  .container .content .footer .icon,
  .container .content .header .count,
  .container .content .footer .dummy {
    display: none;
  }
  .container .content .footer .button {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}
