html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #333;
	width: 100%;
  font-size: 14px;
  overflow: hidden;
  background-color: #fff;
  font-family: monospace;
}

table {
  width: 100%;
  border-spacing: 1px 5px;
}

table tr td {
	padding: 0;
  font-size: 14px;
  font-family: monospace;
}

audio {
  width: 100%;
  margin: auto;
  height: 54px;
  font-size: 14px;
  font-family: monospace;
  vertical-align: middle;
  font-variant: tabular-nums;
}

select {
  padding: 0;
  color: #333;
  height: 42px;
  outline: none;
  font-size: 14px;
	cursor: pointer;
  background: #fff;
  font-weight: 600;
  text-indent: 5px;
  font-family: monospace;
	text-transform: capitalize;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

svg {
  pointer-events: none;
  vertical-align: middle;
}

.container {
  padding: 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  overflow-y: auto;
  flex-flow: column;
  overflow-x: hidden;
  align-items: center;
  box-sizing: border-box;
  height: calc(100% - 56px);
  justify-content: flex-start;
}

.container .content {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}

.container .content {
  margin: 0;
  border: 0;
  padding: 0;
}

.container .content .header {
	margin: auto;
  height: 48px;
  border-spacing: 5px;
  background-color: #f1a727;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.container .content .header .title {
  width: 100%;
  font-size: 14px;
  max-width: 100px;
  font-weight: 600;
  overflow: hidden;
  text-indent: 5px;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .content .header .count {
  padding: 0;
  width: 128px;
  min-width: 128px;
  max-width: 128px;
  text-align: left;
  text-indent: 5px;
}

.container .content .header .count span {
  color: #333;
  font-weight: 600;
  padding: 5px 1px;
  user-select: none;
  vertical-align: middle;
}

.container .content:has(.block) {
  flex: 1;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}

.container .content .block {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container .content .block:has(.info) {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.container .content .block:has(.image) {
  max-width: 256px;
}

.container .content .block .info {
  border-spacing: 15px;
}

.container .content .block .info,
.container .content .block .image {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container .content .block .info {
  height: auto;
	text-align: left;
}

.container .content .block .info tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container .content .block .info tr td[type='name'] {
	width: 120px;
	max-width: 120px;
  min-width: 120px;
  font-weight: 600;
	text-transform: capitalize;
}

.container .content .block .info tr td[type='value'] {
	width: 100%;
  max-width: calc(100vw - 425px);
}

.container .content .block .image {
  height: 100%;
  margin: 0 auto;
  border-spacing: 0;
}

.container .content .block .image tr td {
	text-align: center;
}

.container .content .block .image tr td div {
  border: 0;
  width: auto;
	margin: auto;
  height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease all;
}

.container .content .block .image img {
  width: 100%;
  height: auto;
  display: none;
  padding: 10px;
  max-width: 190px;
  background-color: #fff;
  box-sizing: border-box;
}

.container .content .block .image svg,
.container .content .footer .icon svg {
  fill: #f1a727;
}

.container .content:has(.audio) {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.container .content .audio {
  margin: 0 auto;
  padding: 10px 0;
  background: #fff;
  border-spacing: 10px 0;
  box-sizing: border-box;
}

.container .content .audio tr td {
  text-align: center;
}

.container .content:has(.footer) {
  left: 0;
  bottom: 0;
  padding: 0;
  height: 53px;
  margin: 0 auto;
  position: fixed;
  background-color: #fff;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.container .content .footer {
  height: 100%;
  border-spacing: 1px 5px;
  width: calc(100% - 5px);
}

.container .content .footer .dummy {
  overflow: hidden;
  font-weight: 600;
  user-select: none;
  text-indent: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 300ms ease all;
  max-width: calc(100vw - 300px);
}

.container .content .footer tr td {
  height: 100%;
}

.container .content .footer .button {
  border: 0;
  width: 58px;
  height: 100%;
  outline: none;
  min-width: 58px;
  max-width: 58px;
  cursor: pointer;
  text-align: center;
  background-color: #f1a727;
  transition: 300ms ease background-color;
}

.container .content .footer .button:hover {
  background-color: #f9a91d;
}

.container .content .footer .button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.container .content .footer .button svg {
  fill: #333;
}

.container .content .footer .icon {
	width: 52px;
	min-width: 52px;
	max-width: 52px;
  text-align: center;
  vertical-align: middle;
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

#stations {width: 250px}
#countries {width: 250px}

@supports (-moz-appearance: none) {
  audio {
    height: 42px;
  }
}

html[context='webapp'] .container .content:has(.footer) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

html[context='webapp'] .toolbar:not(.theme) {
  display: none;
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] select {
  color: #ebebeb;
  background-color: #1e1e1e;
}

html[theme='dark'] .container .content .header .title {
  color: #333;
}

html[theme='dark'] .container .content .audio,
html[theme='dark'] .container .content:has(.footer) {
  background-color: #1e1e1e;
}

html[theme='dark'] .container .content .header,
html[theme='dark'] .container .content:has(.audio),
html[theme='dark'] .container .content:has(.footer),
html[theme='dark'] .container .content .footer .icon,
html[theme='dark'] .container .content .block:has(.info) {
  border-color: rgb(255 255 255 / 15%);
}

html[theme='dark'] .container .content .block .image img {
  filter: brightness(0.85);
}
